NEXT_PUBLIC_SITE_URL=https://wnrtecnologia.com.br
NEXT_PUBLIC_GTM_ID=GTM-XXXXXX
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_GOOGLE_ADS_ID=AW-XXXXXXXXXX
NEXT_PUBLIC_META_PIXEL_ID=000000000000000
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=RECAPTCHA_SITE_KEY
RECAPTCHA_SECRET_KEY=RECAPTCHA_SECRET_KEY
RESEND_API_KEY=RESEND_API_KEY
CONTACT_TO_EMAIL=contato@wnrtecnologia.com.br
